$icon-font-path: "/bower_components/font-awesome/fonts";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "font-awesome/scss/font-awesome";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Space out content a bit */
body {
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list {
  h1 {
    font-size: 2em;
    float: right;
  }
}

.loading {
  display: block;
  margin-left: 50%;
  margin-right: 50;
  font-size: 3em;
}

.tasklist {
  tr > th {
    a {
      color: #555;
    }
    background-color: #f0f0f0;
  }
}

a {
  color: #555;

  &:hover {
    text-decoration: none;
    color: #222;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.sorting {
  font-size: 2em;
}

.table {
  background-color: #ffffff;
}

.location-table {
}

.location-button {
  width: 1em;

}

/* Custom page header */
.header {

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
