<span>&nbsp;</span>
<div class="row">

  <p class="text-center">
  Showing: {{search}} <i class="fa fa-remove"></i>
  Sorting on: <i class="fa fa-remove"></i>
  </p>

  <div class="col-md-12">
    <table class="tasklist table table-bordered">
      <tr>
        <th>
          <div class="input-group">
            <input ng-model="search" type="text" class="form-control" placeholder="Search">
          </div>
        </th>
        <th><a class="fa fa-at"></a></th>
        <th><a class="fa fa-exclamation"></a></th>
        <th><a class="fa fa-calendar"></a></th>
        <th><a class="fa fa-user"></a></th>
      </tr>

      <tr ng-repeat="task in tasks | filter:search">

        <td ng-bind-html="task.text"></td>

        <td class="location-button info"><i class="fa fa-calendar"></i></td>
        <td class="location-button warning"><i class="fa fa-pencil"></i></td>
        <td class="location-button danger"><a href="#"><i class="fa fa-remove"></i></a></td>
        <td ng-click="completeTask(task)" class="location-button success pointer"><i class="fa fa-check"></i></td>
      </tr>

    </table>

  </div>

</div>